* {
  margin:0;
  padding:0;
}
html, body {
    margin:0;
    padding:0;
    min-width: 1400px;
}

#wrapperinfo {
    min-width: 900px;
    margin: 0;
    left: 30%;
    background-color: #ffffff;
    border-radius: 5px;
}


#infoboard, #notasEnade, #cpcGeralCurso, #map{
    text-align: center;
    padding: 40px;
    margin: 50px;
}

#guide{
    position: fixed;
    opacity: 0.8;
    background-color: #4c4c4c;
    left: 30px;
    display: inline-block;
    padding: 10px;
    top: 30%;
    font-family: Arial, Helvetica, sans-serif;
    width: 12em;
    border-radius: 5px;
}

#guide ul{
    list-style: none;
}

#guide li a{
    text-decoration: none;
    padding: 4px;
    display: block;
    color: #c4c4c4;
}

#guide li a:hover {
    text-decoration: none;
    color: #fff;
}

#chart{
	margin: 40px;
}

#content{
	background-color: #85dead;
	padding:40px;
}

.cursosArea{
    padding: 60px;
    background-color: #fb6c0c;
    display: table;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
    -webkit-box-shadow:1px 1px 1px 1px #e6e9ea;
    box-shadow: 1px 1px 1px 1px #e6e9ea;
    border-radius: 5px;
}

.enadeArea{
    padding: 60px;
    background-color: #fff;
    display: table;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
    -webkit-box-shadow:1px 1px 1px 1px #e6e9ea;
    box-shadow: 1px 1px 1px 1px #e6e9ea;
    border-radius: 5px;
}

.btn {
  background: #3498db;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#enadeboard{
    background-color: #fff;
    color: #333333;
    padding: 50px;
    text-align: center;
}

.info1, .info2 {
    color: #333333;
    width: 40%;
    min-width: 400px;
    height: 250px;
    text-align: left;
    font-size: 18px;
    border-radius: 10px;
    padding: 40px;
    margin: 5px;
}

.info1 {
    background-color: #84e5de;
    border-bottom: 2px solid #69b7b1;
    border-top: 2px solid #69b7b1;
    float: left;
}

.info2 {
    background-color: #ff944c;
    border-bottom: 2px solid #ff6700;
    border-top: 2px solid #ff6700;
    float: right;
}

.left{
    float: left;
    margin: 5px;
}

.left{
    float: right;
    margin: 5px;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}