html{
	height: 100%;
}
body{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	background-color: #08242d;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

header, footer, aside, nav, article {
    display: block;
}

header{
	background-color: #fff;
	color: #513052;
	margin: 0px;
	position: absolute;
	width: 100%;
	padding: 15px;
	padding-left: 40px;
	padding-bottom: 30px;
	-webkit-box-shadow:1px 1px 1px 1px #e6e9ea;
	box-shadow: 1px 1px 1px 1px #e6e9ea;
}

article {
	padding-top: 250px;
	background-color: #f6f6f6;
	min-width: 750px;
	max-width: 1300px;
	width: 80%;
	height: 100%;
	margin: auto;
}

#placeholder{
	margin-left:300px;
}
