html{
	height: 100%;
}
body{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	background-color: #08242d;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

header, footer, aside, nav, article {
    display: block;
}

header{
	background-color: #fff;
	color: #513052;
	margin: 0px;
	position: absolute;
	width: 100%;
	padding: 15px;
	padding-left: 40px;
	padding-bottom: 30px;
	-webkit-box-shadow:1px 1px 1px 1px #e6e9ea;
	box-shadow: 1px 1px 1px 1px #e6e9ea;
}

article {
	padding-top: 250px;
	background-color: #f6f6f6;
	min-width: 750px;
	max-width: 1300px;
	width: 85%;
	height: auto;
	min-height: 100%;
	margin: auto;
}

footer{
	background-color: #222;
	color: #513052;
	margin: 0px;
	position: absolute;
	width: 100%;
	height: 100px;
            padding: 50px;
}

#chart{
	margin: 40px;
}

#content{
	background-color: #85dead;
	padding:40px;
}

#cursosArea{
        padding: 60px;
        background-color: #75af1d;
}

.btn {
  background: #3498db;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#infoboard{
    background-color: #fff;
    color: #333333;
    padding: 50px;
    text-align: center;
    clear: both;
    height: 370px;
}

.info1{
    background-color: #84e5de;
    border-bottom: 2px solid #69b7b1;
    border-top: 2px solid #69b7b1;
    color: #333333;
    width: 410px;
    height: 200px;
    text-align: left;
    margin: auto;
    padding: 40px;
    float:left;
}

.info2{
    background-color: #ff944c;
    border-bottom: 2px solid #ff6700;
    border-top: 2px solid #ff6700;
    color: #333333;
    width: 410px;
    height: 200px;
    text-align: left;
    margin: auto;
    padding: 40px;
    float:right;
}

.left{
    float: left;
    margin: 5px;
}

.left{
    float: right;
    margin: 5px;
}