{% extends "base.html" %}

{% block body%}
{% load static %}

<div class="cursosArea">
    <div id='dropdownselect'>
        <ul>
            <li class='active has-sub'><a href='/centro/{{ cal.0.id_centro }}'><span> CAL </span></a>
                <ul>
                {% for c in cal %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }} </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='/centro/{{ ccne.0.id_centro }}'><span> CCNE </span></a>
                <ul>
                {% for c in ccne %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='/centro/{{ ccr.0.id_centro }}'><span> CCR </span></a>
                <ul>
                {% for c in ccr %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='/centro/{{ ccs.0.id_centro }}'><span> CCS </span></a>
                <ul>
                {% for c in ccs %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='/centro/{{ ccsh.0.id_centro }}'><span> CCSH </span></a>
                <ul>
                {% for c in ccsh %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='/centro/{{ ce.0.id_centro }}'><span> CE </span></a>
                <ul>
                {% for c in ce %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='/centro/{{ cefd.0.id_centro }}'><span> CEFD </span></a>
                <ul>
                {% for c in cefd %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            <li class='active has-sub'><a href='/centro/{{ ct.0.id_centro }}'><span> CT </span></a>
                <ul>
                {% for c in ct %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='/centro/{{ ctism.0.id_centro }}'><span> CTISM </span></a>
                <ul>
                {% for c in ctism %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='/centro/{{ udssm.0.id_centro }}'><span> UDSSM </span></a>
                <ul>
                {% for c in udssm %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#container1').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'TSG Centros UFSM'
            },

            xAxis: {
                crosshair: true,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'TSG'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {% for d in d1 %}
            {
                name: '{{ d.centro }}',
                data: [[{{ d.ano }}, {{ d.tsgcentro }}],],
            },
            {% endfor %}
            ]
        });
    });
</script>

<div id="container1" style="min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>

<br/><br/><br/>

<script type="text/javascript">
    $(function () {
        $('#container2').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'CPC Centros UFSM'
            },

            xAxis: {
                crosshair: true,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'CPC'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {% for d in d2 %}
            {
                name: '{{ d.0 }}',
                data: [[{{ d.1 }}, {{ d.2 }}]],
            },
            {% endfor %}
            ]
        });
    });
</script>

<div id="container2" style="min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>

<br/><br/>

{% endblock %}