{% extends "base.html" %}

{% block body%}
{% load static %}


    <script type="text/javascript">

    $(function() {

        var datasets = { {% for d in d1 %}
            "{{ d.0.centro }}": {
                label: "{{ d.0.centro }}",
                data: [{% for x in d %} [{{ x.ano }}, {{ x.tsgcentro }}], {% endfor %}]
            },
            {% endfor %}
        };

        // hard-code color indices to prevent them from shifting as
        // countries are turned on/off

        var i = 0;
        $.each(datasets, function(key, val) {
            val.color = i;
            ++i;
        });

        // insert checkboxes
        var choiceContainer = $("#choices");
        $.each(datasets, function(key, val) {
            choiceContainer.append("<br/><input type='checkbox' name='" + key +
                "' checked='checked' id='id" + key + "'></input>" +
                "<label for='id" + key + "'>"
                + val.label + "</label>");
        });

        choiceContainer.find("input").click(plotAccordingToChoices);

        function plotAccordingToChoices() {

            var data = [];

            choiceContainer.find("input:checked").each(function () {
                var key = $(this).attr("name");

                    data.push(datasets[key]);

            });

            $.plot("#placeholder", data, {
                xaxis: {
                    minTickSize: 1
                },
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.9,
                        align: "center"
                    },
                    stack: true
                }
            });
        }

        plotAccordingToChoices();

    });

    </script>

<p id="choices" style="float:right; width:200px; margin:10px;"></p>
<div id="chart">
<div id="placeholder" style="width:700px;height:300px;"></div>
<div id="legend"></div>
</div>

{% endblock %}