{% extends "base.html" %}

{% block body%}
{% load static %}

<script type="text/javascript">
    $(function () {
        $('#container1').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'TSG Centros UFSM'
            },

            xAxis: {
                crosshair: true,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'TSG'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {% for d in d1 %}
            {
                name: '{{ d.0.centro }}',
                data: [{% for x in d %} [{{ x.ano }}, {{ x.tsgcentro }}],{% endfor %}],

            },
            {% endfor %}]
        });
    });
</script>

<div id="container1" style="min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>

<br/><br/><br/>

<script type="text/javascript">
    $(function () {
        $('#container2').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'CPC Centros UFSM'
            },

            xAxis: {
                crosshair: true,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'CPC'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {% for d in d2 %}
            {
                name: '{{ d.0.centro }}',
                data: [{% for x in d %} [{{ x.ano }}, {{ x.cpc_f2013 }}],{% endfor %}],

            },
            {% endfor %}]
        });
    });
</script>

<div id="container2" style="min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>

<br/><br/><br/>

{% endblock %}