{% extends "base.html" %}

{% block body%}
{% load static %}

{% for d in d1 %}
        <script type="text/javascript">
$(function () {
    $('#container{{ d.0.codigo_curso }}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'CPC {{ d.0.nome_curso }}'
        },
        xAxis: {
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'CPC'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '{{ d.0.nome_curso }}',
            data: [{% for x in d %} [{{ x.ano }}, {{ x.cpc_f2013 }}],{% endfor %}]

        },]
    });
});
        </script>

        <div id="container{{ d.0.codigo_curso }}" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endfor %}

{% endblock %}