{% extends "base.html" %}

{% block body%}
{% load static %}
<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Evolução CPC {{ centro.0.0 }}'
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'CPC'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                     borderWidth: 1,
                }
            },
            series: [
            {
                name: 'CPC {{ centro.0.0 }}',
                color: '#0066b2',
                data: [{% for c in centro %} [{{c.1}},{{ c.2 }}],{% endfor %}],
            },]
        });
    });
</script>
    <div id="container" style="min-width: 310px; max-width: 1050px; height: auto; margin: 0 auto"></div><br/><br/>

{% endblock %}