{% extends "base.html" %}

{% block body%}
{% load static %}




<div id="cursosArea">
    <div id='dropdownselect'>
        <ul>
            {% for i in centros %}
           <li class='active has-sub'><a href='#'><span>{{ i }}</span></a>
                <ul>
                {% for c in cursos %}{% if c.centro == i %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }} </span></a></li>
                {% endif %}{% endfor %}
                </ul>
            </li>
           {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}