{% extends "base.html" %}

{% block body%}
{% load static %}

<div id="infoboard">
<h2>CPC {{ ultimo.nome_curso }} UFSM</h2><br/>
    <div class="info1">
        <img class="left" src="{% static "img/icon_avaliacao.png" %}" />
        <b>Ano da Última Avaliação:</b>   <p>{{ ultimo.ano }}</p>
        <b>Índice da Última Avaliação:</b> <p>{{ ultimo.cpc_f2013 }}</p>
    </div>
    <div class="info2">
        <img class="left" src="{% static "img/icon_posicao.png" %}" />
        <b>Posicionamento no Estado:</b> <p> {{ ultimo.posicaorscpc }} </p>
        <b>Posicionamento no País:</b> <p>{{ ultimo.posicaobrasilcpc }}</p>
    </div>
</div>
<br/><br/><br/>
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Evolução do CPC por Triênio da Avaliação (ENADE) de {{ curso.0.nome_curso }} e suas posições no Estado (RS), Região Sul e Brasil'
        },
        subtitle: {
            text: 'UFSM, RS, Sul, Brasil'
        },
        xAxis: [{
            categories: [{% for c in curso %} {{ c.ano }}, {% endfor %}],
            crosshair: true
        }],
        yAxis: [{
            title: {
                text: '',
                style: {
                    color: Highcharts.getOptions().colors[2]
                }
            },
            opposite: true

        }, { // Secondary yAxis
            gridLineWidth: 0,
            title: {
                text: 'CPC UFSM',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[0]
                },
            }

        }, { // Tertiary yAxis
            title: {
                text: 'RS',
            },
            gridLineWidth: 0,
            opposite: true,
            min: 0,
        },
        { // Tertiary yAxis
            title: {
                text: 'Sul',
            },
            gridLineWidth: 1,
            opposite: true,
            min: 0,
        },
        { // Tertiary yAxis
            title: {
                text: 'Brasil',
            },
            gridLineWidth: 1,
            opposite: true,
            min: 0,
        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 80,
            verticalAlign: 'top',
            y: 55,
            floating: true,
            backgroundColor: '#FFFFFF'
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    align: 'center',
                    padding: 5,
                },
            }
        },
        series: [
        {
            name: 'CPC',
            type: 'column',
            yAxis: 1,
            color:'#ffa262',
            data: [{% for c in curso %} {{ c.cpc_f2013 }}, {% endfor %}],
        },
        {
            name: 'Posição RS',
            type: 'spline',
            color: '#d60707',
            data: [{% for c in curso %} {{ c.posicaorscpc }}, {% endfor %}],
            dashStyle: 'dot',
            tooltip: {
                valueSuffix: 'º'
            },
        },
        {
            name: 'Posição Sul',
            type: 'spline',
            color: '#2b99ff',
            data: [{% for c in curso %} {{ c.posicaosulcpc }}, {% endfor %}],
            dashStyle: 'shortdot',
            tooltip: {
                valueSuffix: 'º'
            }
        },
        {
            name: 'Posição Brasil',
            type: 'spline',
            yAxis: 2,
            color: '#3e8513',
            data: [{% for c in curso %} {{ c.posicaobrasilcpc }}, {% endfor %}],
            marker: {
                enabled: true
            },
            dashStyle: 'solid',
            tooltip: {
                valueSuffix: 'º'
            }
        },
        ]
    });
});
</script>

    <div id="container" style="min-width: 310px; width: 100%; height: 500px; margin: 0 auto"></div><br/><br/>
{% endblock %}