{% extends "base.html" %}

{% block body%}
{% load static %}
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Evolução do CPC por Triênio da Avaliação de {{ curso.0.nome_curso }} e suas posições no Estado (RS), Região Sul e Brasil'
        },
        subtitle: {
            text: 'UFSM, RS, Sul, Brasil'
        },
        xAxis: [{
            categories: [{% for c in curso %} {{ c.ano }}, {% endfor %}],
            crosshair: true
        }],
        yAxis: [ { // 2 yAxis
            gridLineWidth: 0,
            max: 5,
            tickInterval: 1,
            title: {
                text: 'CPC UFSM',
            },
            labels: {
                format: '{value}',
            }
        }, { // 3 yAxis
            title: {
                text: 'RS',
            },
            gridLineWidth: 0,
            opposite: true,
            min: 0,
        },
        { // 4 yAxis
            title: {
                text: 'Sul',
            },
            gridLineWidth: 1,
            opposite: true,
            min: 0,
        },
        { // 5 yAxis
            title: {
                text: 'Brasil',
            },
            gridLineWidth: 1,
            opposite: true,
            min: 0,
        },
        { // 6 yAxis
            title: {
                text: 'Faixa',
            },
            gridLineWidth: 1,
            opposite: false,
            max: 5,
            min: 0,
            tickInterval: 1,
        }
        ],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 80,
            verticalAlign: 'top',
            y: 55,
            floating: true,
            backgroundColor: '#FFFFFF'
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    align: 'center',
                    style: {
                        fontSize: 12,
                    },
                },
            },
            scatter:{
                marker:{
                    symbol: 'circle',
                    radius: 5,
                    inside: true,
                    fillColor: '#bd0cfb',
                    lineWidth: 2,
                    lineColor: '#710796'
                },
                symbol: 'circle',
                inside: true,
            },
        },
        series: [
        {
            name: 'CPC',
            type: 'column',
            yAxis: 0,
            color:'#ffa262',
            data: [{% for c in curso %} {{ c.cpc_f2013 }}, {% endfor %}],
        },
        {
            name: 'Posição RS',
            type: 'spline',
            yAxis: 1,
            color: '#d60707',
            data: [{% for c in curso %} {{ c.posicaorscpc }}, {% endfor %}],
            dashStyle: 'dot',
            tooltip: {
                valueSuffix: 'º'
            },
        },
        {
            name: 'Posição Sul',
            type: 'spline',
            yAxis: 2,
            color: '#2b99ff',
            data: [{% for c in curso %} {{ c.posicaosulcpc }}, {% endfor %}],
            dashStyle: 'shortdot',
            tooltip: {
                valueSuffix: 'º'
            }
        },
        {
            name: 'Posição Brasil',
            type: 'spline',
            yAxis: 3,
            color: '#3e8513',
            data: [{% for c in curso %} {{ c.posicaobrasilcpc }}, {% endfor %}],
            marker: {
                enabled: true
            },
            dashStyle: 'solid',
            tooltip: {
                valueSuffix: 'º'
            }
        },
        {
            name: 'Faixa',
            type: 'scatter',
            yAxis: 4,
            color: '#bd0cfb',
            data: [{% for c in curso %} {{ c.CPC_FAIXA }}, {% endfor %}],
            marker: {
                enabled: true
            },
            dashStyle: 'solid',
            tooltip: {
                valueSuffix: ''
            }
        },
        ]
    });
});
</script>
<script type="text/javascript">
    $(function () {
        $('#divEnade').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Enade {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nc %} '{{ i.sigla_ies }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Enade'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nc %}
                {
                y: {{ d.nc }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nc %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nc %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>


<script type="text/javascript">
    $(function () {
        $('#divIdd').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota IDD {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nidd %} '{{ i.sigla_ies }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota IDD'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nidd %}
                {
                y: {{ d.nidd }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nidd %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nidd %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#divMestre').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Mestres {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nm %} '{{ i.sigla_ies }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Mestres'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nm %}
                {
                y: {{ d.nm }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nm %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nm %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#divDoutores').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Doutores {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nd %} '{{ i.sigla_ies }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Doutores'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nd %}
                {
                y: {{ d.nd }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nd %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nd %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#divOrgPed').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Organização Didático-Pedagógica {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in no %} '{{ i.sigla_ies }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Mestres'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in no %}
                {
                y: {{ d.no }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in no %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in no %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#divInfra').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Infraestrutura {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nf %} '{{ i.sigla_ies }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Infraestrutura'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nf %}
                {
                y: {{ d.nf }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nf %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nf %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#divRegTrab').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Regime de Trabalho {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nr %} '{{ i.sigla_ies }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Mestres'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nr %}
                {
                y: {{ d.nr }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nr %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nr %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#divAmpl').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Ampliação da Formação {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in na %} '{{ i.sigla_ies }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Ampliação'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in na %}
                {
                y: {{ d.na }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in na %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in na %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>
























<div id="infoboard" class="container fill">
<h2>CPC {{ ultimo.nome_curso|lower|capfirst }} UFSM - Índices Gerais </h2><br/>
    <div class="info1">
        <img class="left" src="{% static "img/icon_avaliacao.png" %}" />
        <b>Ano da Última Avaliação:</b>   <p>{{ ultimo.ano }}</p>
        <b>Índice da Última Avaliação:</b> <p>{{ ultimo.cpc_f2013 }}</p>
    </div>
    <div class="info2">
        <img class="left" src="{% static "img/icon_posicao.png" %}" />
        <b>Posicionamento no Estado:</b> <p> {{ ultimo.posicaorscpc }} </p>
        <b>Posicionamento no País:</b> <p>{{ ultimo.posicaobrasilcpc }}</p>
    </div>
</div>
<hr/>
<div id="cpcGeralCurso" class="container fill">
    <div id="container" style=" padding-top: 150px; min-width: 310px; width: 100%; height: 500px; margin: 0 auto"></div><br/>
</div>
<hr/>
<div id="notasEnade">
    <div id="divEnade" style=" padding-top: 150px; min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>
    <br/><br/>
    <div id="divIdd" style=" padding-top: 150px; min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>
    <br/><br/>
    <div id="divMestre" style=" padding-top: 150px; min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>
    <br/><br/>
    <div id="divDoutores" style=" padding-top: 150px; min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>
    <br/><br/>
    <div id="divOrgPed" style=" padding-top: 150px; min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>      
    <br/><br/>
    <div id="divInfra" style=" padding-top: 150px; min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>      
    <br/><br/>
    <div id="divRegTrab" style=" padding-top: 150px; min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>
    <br/><br/>
    <div id="divAmpl" style=" padding-top: 150px; min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>
</div>
<div id="guide">
    <ul> 
        <li><a href="#infoboard">Índices Gerais do Curso</a></li>
        <li><a href="#cpcGeralCurso">CPC Geral do Curso</a></li>
        <li><a href="#notasEnade">Notas Enade</a></li>
        <li><a href="#divIdd">Nota IDD</a></li>
        <li><a href="#divMestre">Nota Mestres</a></li>
        <li><a href="#divDoutores">Nota Doutores</a></li>
        <li><a href="#divOrgPed">Nota Organização Pedagógica</a></li>
        <li><a href="#divInfra">Nota Infraestrutura</a></li>
        <li><a href="#divRegTrab">Nota Regime de Trabalho</a></li>
        <li><a href="#divAmpl">Nota Ampliação da Formação</a></li>
    </ul>
</div>
{% endblock %}