{% extends "base.html" %}

{% block body%}
{% load static %}
<style>
    .modal {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
</style>
<!--
<div id="infoboard" class="container fill">
<h2>CPC {{ ultimo.nome_curso|lower|capfirst }} UFSM - Índices Gerais </h2><br/>
    <div class="info1">
        <img class="left" src="{% static "img/icon_avaliacao.png" %}" />
        <b>Ano da Última Avaliação:</b>   <p>{{ ultimo.ano }}</p>
        <b>Índice da Última Avaliação:</b> <p>{{ ultimo.cpc_f2013 }}</p>
    </div>
    <div class="info2">
        <img class="left" src="{% static "img/icon_posicao.png" %}" />
        <b>Posicionamento no Estado:</b> <p> {{ ultimo.posicaorscpc }} </p>
        <b>Posicionamento no País:</b> <p>{{ ultimo.posicaobrasilcpc }}</p>
    </div>
</div>
-->
<div class="container">
    <div id="cpcGeralCurso">
        <div id="evolution" style=" min-width: 310px; width: 100%; height: 500px; margin: 0 auto"></div><br/>
    </div>
    <hr/>
    <div style="text-align:center">
        <h2> Em detalhes </h2>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modelENADE">Avaliação ENAD</button>
        <div class="modal fade" id="modelENADE" role="dialog">
            <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Avaliação ENAD</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#divEnade"> ENADE </button>
                    <div id="divEnade" class="collapse" style=" min-width: 700px; max-width: 1000px; height: 500px; margin: 0 auto"></div>
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#divIdd"> IDD </button>
                    <div id="divIdd" class="collapse" style="min-width: 700px; max-width: 1000px; height: 500px; margin: 0 auto"></div>
                </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modelOrgPed"> Percepção do Aluno </button>
        <div class="modal fade" id="modelOrgPed" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> Percepção do Aluno </h4>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#divOrgPed"> Organização Pedagógica </button>
                        <div id="divOrgPed" class="collapse" style=" padding-top: 150px; min-width: 700px; max-width: 1000px; height: 500px; margin: 0 auto"></div>

                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#divInfra"> Infraestrutura </button>
                        <div id="divInfra" class="collapse" style=" padding-top: 150px; min-width: 700px; max-width: 1000px; height: 500px; margin: 0 auto"></div>

                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#divRegTrab"> Regime de Trabalho </button>
                        <div id="divRegTrab" class="collapse" style=" padding-top: 150px; min-width: 700px; max-width: 1000px; height: 500px; margin: 0 auto"></div>

                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#divAmpl"> Ampliação </button>
                        <div id="divAmpl" class="collapse" style=" padding-top: 150px; min-width: 700px; max-width: 1000px; height: 500px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modelMestre">Docentes</button>
        <div class="modal fade" id="modelMestre" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Docentes</h4>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#divMestre"> Mestres </button>
                        <div id="divMestre" class="collapse" style=" padding-top: 150px; min-width: 700px; max-width: 1000px; height: 500px; margin: 0 auto"></div>
                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#divDoutores"> Doutores </button>
                        <div id="divDoutores" class="collapse" style=" padding-top: 150px; min-width: 700px; max-width: 1000px; height: 500px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script dos gráficos -->

<script type="text/javascript">
$(function () {
    $('#evolution').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Evolução do CPC por Triênio da Avaliação de {{ curso.0.nome_curso }} e suas posições no Estado (RS), Região Sul e Brasil'
        },
        subtitle: {
            text: 'UFSM, RS, Sul, Brasil'
        },
        xAxis: [{
            categories: [{% for c in curso %} {{ c.ano }}, {% endfor %}],
            crosshair: true
        }],
        yAxis: [ { // 2 yAxis
            gridLineWidth: 0,
            max: 5,
            tickInterval: 1,
            title: {
                text: 'CPC UFSM',
            },
            labels: {
                format: '{value}',
            }
        }, { // 3 yAxis
            title: {
                text: 'RS',
            },
            gridLineWidth: 0,
            opposite: true,
            min: 0,
        },
        { // 4 yAxis
            title: {
                text: 'Sul',
            },
            gridLineWidth: 1,
            opposite: true,
            min: 0,
        },
        { // 5 yAxis
            title: {
                text: 'Brasil',
            },
            gridLineWidth: 1,
            opposite: true,
            min: 0,
        },
        { // 6 yAxis
            title: {
                text: 'Faixa',
            },
            gridLineWidth: 1,
            opposite: false,
            max: 5,
            min: 0,
            tickInterval: 1,
        }
        ],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 80,
            verticalAlign: 'top',
            y: 55,
            floating: true,
            backgroundColor: '#FFFFFF'
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    align: 'center',
                    style: {
                        fontSize: 12,
                    },
                },
            },
            scatter:{
                marker:{
                    symbol: 'circle',
                    radius: 5,
                    inside: true,
                    fillColor: '#bd0cfb',
                    lineWidth: 2,
                    lineColor: '#710796'
                },
                symbol: 'circle',
                inside: true,
            },
        },
        series: [
        {
            name: 'CPC',
            type: 'column',
            yAxis: 0,
            color:'#ffa262',
            data: [{% for c in curso %} {{ c.cpc_f2013 }}, {% endfor %}],
        },
        {
            name: 'Posição RS',
            type: 'spline',
            yAxis: 1,
            color: '#d60707',
            data: [{% for c in curso %} {{ c.posicaorscpc }}, {% endfor %}],
            dashStyle: 'dot',
            tooltip: {
                valueSuffix: 'º'
            },
        },
        {
            name: 'Posição Sul',
            type: 'spline',
            yAxis: 2,
            color: '#2b99ff',
            data: [{% for c in curso %} {{ c.posicaosulcpc }}, {% endfor %}],
            dashStyle: 'shortdot',
            tooltip: {
                valueSuffix: 'º'
            }
        },
        {
            name: 'Posição Brasil',
            type: 'spline',
            yAxis: 3,
            color: '#3e8513',
            data: [{% for c in curso %} {{ c.posicaobrasilcpc }}, {% endfor %}],
            marker: {
                enabled: true
            },
            dashStyle: 'solid',
            tooltip: {
                valueSuffix: 'º'
            }
        },
        {
            name: 'Faixa',
            type: 'scatter',
            yAxis: 4,
            color: '#bd0cfb',
            data: [{% for c in curso %} {{ c.CPC_FAIXA }}, {% endfor %}],
            marker: {
                enabled: true
            },
            dashStyle: 'solid',
            tooltip: {
                valueSuffix: ''
            }
        },
        ]
    });
});
</script>
<script type="text/javascript">
    $(function () {
        $('#divEnade').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Enade {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nc %} '{{ i.sigla_ies }} - {{ i.municipio }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Enade'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nc %}
                {
                y: {{ d.nc }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nc %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nc %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>


<script type="text/javascript">
    $(function () {
        $('#divIdd').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota IDD {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nidd %} '{{ i.sigla_ies }} - {{ i.municipio }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota IDD'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nidd %}
                {
                y: {{ d.nidd }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nidd %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nidd %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#divMestre').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Mestres {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nm %} '{{ i.sigla_ies }} - {{ i.municipio }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Mestres'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nm %}
                {
                y: {{ d.nm }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nm %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nm %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#divDoutores').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Doutores {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nd %} '{{ i.sigla_ies }} - {{ i.municipio }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Doutores'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nd %}
                {
                y: {{ d.nd }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nd %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nd %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#divOrgPed').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Organização Didático-Pedagógica {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in no %} '{{ i.sigla_ies }} - {{ i.municipio }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Mestres'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in no %}
                {
                y: {{ d.no }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in no %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in no %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#divInfra').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Infraestrutura {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nf %} '{{ i.sigla_ies }} - {{ i.municipio }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Infraestrutura'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nf %}
                {
                y: {{ d.nf }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nf %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nf %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#divRegTrab').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Regime de Trabalho {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in nr %} '{{ i.sigla_ies }} - {{ i.municipio }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Mestres'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in nr %}
                {
                y: {{ d.nr }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in nr %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in nr %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#divAmpl').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Nota Ampliação da Formação {{ ano }}'
            },

            xAxis: {
                categories: [{% for i in na %} '{{ i.sigla_ies }} - {{ i.municipio }}', {% endfor %}],
            },
            yAxis: {
                min: 0,
                max: 5,
                title: {
                    text: 'Nota Ampliação'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                type: 'column',
                name: 'IES',
                data: [{% for d in na %}
                {
                y: {{ d.na }},
                {% if d.sigla_ies == 'UFSM' %}
                color:'#ff8100',
                {% else %}
                color: '#199cff',
                {% endif %}
                },
                {% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média Brasil',
                color: '#3e8513',
                data: [{% for d in na %}{{ media_nc_br }},{% endfor %}],
            },
            {
                type: 'spline',
                name: 'Média RS',
                color: '#d60707',
                data: [{% for d in na %}{{ media_nc_rs }},{% endfor %}],
            },
            ]
        });
    });
</script>

<script type="text/javascript">
$(function initMap() {
    var marcadores = [
        {% for i in localizacao %}
        {
            lat: {{i.LATITUDE}},
            lng: {{i.LONGITUDE}}
        },
        {% endfor %}
        {}
    ]


    var myLatLng = {lat: -8.754795, lng: -52.910156};

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        scrollwheel: false,
        zoom: 4
    });

    // Create a marker and set its position.
    for(i = 0; i < marcadores.length - 1; i++){
        var marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(marcadores[i].lat, marcadores[i].lng),
            animation: google.maps.Animation.DROP,
            title: 'Aluno da UFSM!'
            });
    }

});
</script>

{% endblock %}