{% extends "base.html" %}

{% block body%}
{% load static %}




<div id="cursosArea">
    <div id='dropdownselect'>
        <ul>
            <li class='active has-sub'><a href='#'><span> CAL </span></a>
                <ul>
                {% for c in cal %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }} </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span> CCNE </span></a>
                <ul>
                {% for c in ccne %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span> CCR </span></a>
                <ul>
                {% for c in ccr %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span> CCS </span></a>
                <ul>
                {% for c in ccs %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span> CCSH </span></a>
                <ul>
                {% for c in ccsh %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span> CE </span></a>
                <ul>
                {% for c in ce %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span> CEFD </span></a>
                <ul>
                {% for c in cefd %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span> CESNORS FW </span></a>
                <ul>
                {% for c in cesnorsfw %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span> CESNORS PM</span></a>
                <ul>
                {% for c in cesnorspm %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span> CT </span></a>
                <ul>
                {% for c in ct %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span> CTISM </span></a>
                <ul>
                {% for c in ctism %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span> UDSSM </span></a>
                <ul>
                {% for c in udssm %}
                     <li class='has-sub'><a href='/curso/{{ c.codigo_curso }}'><span> {{ c.nome_curso }}  </span></a></li>
                {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}