{% extends "base.html" %}
{% block body%}
{% load static %}

<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'TSG UFSM'
            },

            xAxis: {
                crosshair: true,
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'TSG'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
                name: 'UFSM',
                data: [{% for x in d1 %} [{{ x.ano }}, {{ x.tsgufsm }}],{% endfor %}],
                color:'#ffa262',
            },
            ]
        });
    });
</script>

<div id="container" style="min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>

<br/><br/><br/>

<script type="text/javascript">
$(function () {
    $('#container_2').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Evolução do CPC por Triênio da Avaliação (ENADE)'
        },
        subtitle: {
            text: 'UFSM, RS, Brail'
        },
        xAxis: [{
            categories: [2009, 2010, 2011, 2012, 2013, 2014],
            crosshair: true
        }],
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{}',
                style: {
                    color: Highcharts.getOptions().colors[2]
                },
                enabled: false
            },
            title: {
                text: '',
                style: {
                    color: Highcharts.getOptions().colors[2]
                }
            },
            opposite: true

        }, { // Secondary yAxis
            gridLineWidth: 0,
            title: {
                text: 'CPC UFSM',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }, 
            }

        }, { // Tertiary yAxis
            gridLineWidth: 0,
            title: {
                text: '',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }, 
                enabled: false
            },
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            opposite: true,
            min: 0,
            max: 5,
        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 80,
            verticalAlign: 'top',
            y: 55,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        series: [{
            name: 'UFSM',
            type: 'column',
            yAxis: 1,
            data: [3.48, 3.58, 3.24, 3.18, 3.04, 3.24],
            tooltip: {
                valueSuffix: ''
            }

        }, {
            name: 'CPC Brasil',
            type: 'spline',
            yAxis: 2,
            data: [2.33, 2, 2, 2, 2, 2.66],
            marker: {
                enabled: true
            },
            dashStyle: 'shortdot',
            tooltip: {
                valueSuffix: ''
            }

        }, {
            name: 'CPC RS',
            type: 'spline',
            data: [2.75, 3, 3, 3, 3, 2.91],
            tooltip: {
                valueSuffix: ' '
            }
        }]
    });
});
</script>

<div id="container_2" style="min-width: 310px; max-width: 1000px; height: 500px; margin: 0 auto"></div>

{% endblock %}